/*#region*/
/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}

body {
line-height: 1;
}

ol, ul {
list-style: none;
}

blockquote, q {
quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}

table {
border-collapse: collapse;
border-spacing: 0;
}

/* I added this */
*, *::before, *::after {
box-sizing: border-box;
}

/*#endregion*/

:root {
  font-family: sans-serif;
}

.App {
  align-items: center;
  flex-direction: column;
  padding-top: 1rem;
  height: 100vh;
}

.App > div {
  margin-bottom: 1rem;
}

/* 
==================================
Generic Classes
==================================
*/

.flex {
  display: flex;
}

.green-btn {
  border: 1px solid black;
  background-color: hsl(120, 100%, 31%);
}

.green-btn:hover {
  background-color: hsl(120, 100%, 50%);
  cursor: pointer;
}

.neutral-btn {
  border: 1px solid black;
  background-color: hsl(0, 0%, 60%);
}

.neutral-btn:hover {
  background-color: hsl(0, 0%, 75%);
  cursor: pointer;
}

/* 
==================================
TeamNameInputs
==================================
*/

.input-container {
  border: 1px solid black;
  flex-direction: column;
  align-items: center;
  width: 10rem;
}

.team-name-title {
  color: black;
  background-color: hsl(120, 100%, 31%);
  font-weight: bold;
  margin-bottom: 0.3125rem;
  padding: 0.125rem 0.250rem;
  width: 100%;
}

.input-container > input {
  margin: 0.3125rem 0;
}

.input-container > input[type='text'] {
  border: 1px solid black;
  width: 95%;
}

.team-names-submit-btn {
  width: 90%;
}

.team-names-submit-btn:focus {
  outline-color: red;
}

/* 
==================================
ShotsGrid
==================================
*/

.shots-grid {
  flex-direction: row;
  align-items: center;
  text-align: center;
  width: max-content;
}

.teams {
  border-left: 1px solid black;
  height: 100%;
}

.period,
.teams {
  border: 1px solid black;
  flex-direction: column;
  max-width: 10rem;
}

.period {
  border-left: none;
}

.period-title {
  color: black;
  background-color: hsl(120, 100%, 31%);
  font-weight: bold;
  padding: 0.125rem 0.625rem 0.125rem 0.625rem;
  height: max-content;
  width: 100%;
}

.period-shots {
  display: flex;
  flex-direction: column;
}

.period-shots,
.home-guest {
  padding: 0.625rem;
  gap: 1rem;
}

.home-guest {
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.home-guest > input {
  width: max-content;
}

.home-name,
.guest-name {
  max-height: 1rem;
  overflow: hidden;
}

.shot-totals {
  border: 1px solid black;
  border-left: none;
}

@media screen and (max-width: 800px) {
  .shots-grid {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .shots-grid > div {
    width: 100%;
  }

  .home-guest {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
  }

  .home-name,
  .guest-name {
    max-width: 6rem;
    min-width: 4rem;
  }

  .period,
  .teams {
    border-top: none;
    border-bottom: none;
    border-left: 1px solid black;
    border-right: 1px solid black;
    max-width: none;
  }

  .teams {
    border-top: 1px solid black;
  }

  .period {
    align-items: center;
    flex-direction: column;
  }

  .period-shots {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }

  .shot-totals {
    border-left: 1px solid black;
    border-top: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

}

/* 
==================================
ShotsGrid
==================================
*/

.shootout-shooter-number {
  width: 4ch;
}

/* 
==================================
Shots Grid Controls
==================================
*/

.shot-grid-controls {
  border: 1px solid black;
  width: 10rem;
}

.add-shots {
  justify-content: space-evenly;
  margin: 0.625rem 0;
}

.period-select {
  justify-content: space-evenly;
  margin: 0.625rem 0;
}


/* 
==================================
Reset Button
==================================
*/

.reset-btn {
  color: white;
  background-color: hsl(0, 57%, 48%);
  border: 1px solid black;
  width: 10rem;
}

.reset-btn:hover {
  cursor: pointer;
  background-color: hsl(0, 57%, 60%);
}

/* 
==================================
Fancy Toggle
==================================
*/

input[type='checkbox']#input-toggle {
  height: 0;
  width: 0;
  opacity: 0;
  position: absolute;
}

input[type='checkbox']#input-toggle + #label-toggle {
  color: red;
  user-select: none;
  font-size: 30px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

input[type='checkbox']#input-toggle + #label-toggle::before {
  content: '';
  width: 2em;
  height: 1em;
  background-color: hsl(0, 80%, 90%);
  border-radius: 1em;
  margin-right: .25em;
  transition: background-color 200ms ease-in-out;
}

input[type='checkbox']#input-toggle + #label-toggle::after {
  position: absolute;
  left: 0.1em;
  content: '';
  width: 0.9em;
  height: 0.9em;
  background-color: hsl(0, 80%, 60%);
  border-radius: 1em;
  transition: transform 200ms ease-in-out;
}

input[type='checkbox']#input-toggle:focus-visible + #label-toggle::before {
  outline: 2px solid black;
}

input[type='checkbox']#input-toggle:checked + #label-toggle::before {
  background-color: hsl(120, 80%, 90%);
}

input[type='checkbox']#input-toggle:checked + #label-toggle::after {
  transform: translateX(100%);
  background-color: hsl(120, 80%, 60%);
}

input[type='checkbox']#input-toggle:checked + #label-toggle {
  color: green;
}
